html {
  font-family: sans-serif;
  line-height: 1.25em;


}

h1 {
  color: red;
}
#green-ls {
  color: green;
}
blockquote {
  background-color: #dde0e3;
  padding: 15px;

}

.date {
  font-style: italic;
  font-weight: bold;


}
